.productos{
    display: inline-block;
    justify-content: space-between;
    margin:10px;
    border-color:gray;
    border-radius: 10px;
}
.imgProducts{
    width: 310px;
    height: 370px;
    border-radius: 10px;
    border-color: black;
}
.categorias{
    background-color: #6495ed;
}
.margen{
    margin-top: 8px;
}