.productos{
    display: inline-block;
    justify-content: space-between;
    margin:10px;
    border-color:gray;
    border-radius: 10px;
}
.imgProducts{
    width: 310px;
    height: 370px;
    border-radius: 10px;
    border-color: black;
}
.categorias{
    background-color: #6495ed;
}
.margen{
    margin-top: 8px;
}
.contador{
    margin: 5px;
    list-style: none;
    text-decoration: none;
}
.pdng{
    padding-bottom: 8px;
}
.cartDisplay{
    display:flex;
    flex-direction: column;
    align-items: flex-end;

}
.maxWdt{
    max-width: 500px;
}
.formulario{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.check{
    display: flex;
    flex-direction: column;
    align-items: center;
}