.logo{ 
    width: 170px;
    height: 70px;
}
.color{
    background-color: #6495ed;
}
@font-face {
    font-family: 'MiFuente'; 
    src: url('../font/LEMONMILK-MediumItalic.otf') format('truetype');
}

body {
    font-family: 'MiFuente', sans-serif;
}
.colorNav{
    color:rgb(208, 223, 250);
}
